[tool.poetry]
name = "aiocronjob"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^3.8"
fastapi = "^0.55.1"
uvicorn = "^0.11.5"
crontab = "^0.22.8"
pytz = "^2020.1"

[tool.poetry.dev-dependencies]
pytest = "^5.4.3"
pytest-mock = "^3.1.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
